

.slider-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
background-color: #ffb0b0;
}

/* .product-container{
  display: flex;
  max-width: 100vw;
  
} */


